<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-3 tm-border-rounded">
    <div class="tm-about-header tm-flex-center">
        <i class="fas fa-users fa-2x"></i>
        <img src="assets\img\perfil.jpg" width="25%">
        <h2>Damian Gonzalez Salgado</h2>
    </div>
    <div class="tm-about-text">
        <h2>Actualmente me encuentro estudiando en el quinto semestre de la carrera en Ingeniería en Tecnologías de la Información, de la Universidad Albert Einstein, teniendo 23 años de edad.
        </h2>
        <p class="tm-mb-0">Soy una persona dedicada, organizada y metódica. Tengo buenas habilidades interpersonales, soy un excelente trabajador en equipo y tengo muchas ganas de aprender y desarrollar nuevas habilidades. Soy confiable y confiable y, a menudo, busco nuevas responsabilidades dentro de una amplia gama de áreas de empleo. Tengo un enfoque activo y dinámico para trabajar y hacer las cosas. Soy decidido y resolutivo. Identifico y desarrollo oportunidades</p>
    </div>
</section>
<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-4 tm-border-rounded">
    <i class="fas fa-heart fa-3x"></i>
    <h1>Sin publicaciones</h1>
</section>